.baseLogin {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #142337;
}

.paginaLogin {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxHeaderLogin {
    display: flex;
    flex-direction: row;
    margin-top: 1.52%;
    height: 13%;
    width: 100%;
    background: #142337;
    align-items: center;
    justify-content: space-between;
}

.logoButter {
    margin-bottom: 1%;
    margin-left: 5%;
    margin-right: 3%;
}

.botoesInicioFilmes {
    height: 60%;
    width: 200%;
    margin-right: 50%;
    margin-left: 2.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.botoesAcessoUsuario {
    height: 60%;
    width: 150%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 5%;
}

.acessoInicio {
    font-size:xx-large;
    text-decoration: none;
    color: white;
}

.acessoInicio:hover {
    color: orange;
}

.acessoFilmes {
    font-size:xx-large;
    text-decoration: none;
    color: white;
}

.acessoFilmes:hover {
    color: orange;
}

.acessoPerfil {
    font-size:xx-large;
    text-decoration: none;
    color: white;
}

.acessoPerfil:hover {
    color: orange;
}

.logOut {
    font-size:xx-large;
    text-decoration: none;
    color: white;
}

.logOut:hover {
    color: orange;
}

.boxLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20%;
    width: 80%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100%
}

.entrar {
    margin-bottom: 15px;
}

.inputsLogin {
    display: flex;
    flex-direction: column;
    color: white;
    width: 80%;
}

.cadastrar {
    color: white;
    text-decoration: none;
    margin-top: 10%;
}

.cadastrar:hover {
    color:grey;
}

.componentes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.esqueceusenha {
    display: flex;
    color: white;
    text-decoration: none;
}

.esqueceusenha:hover {
    color:grey;
}

.form-check-input {
    box-shadow: none !important;
    border-color: white !important;
}

.form-check-input:checked {
    background-color: #fb6222 !important;
    border-color: #fb6222 !important;
    box-shadow: none !important;
}

.boxFooterLogin {
    display: flex;
    flex-direction: row;
    margin-top: 10.5%;
    height: 13%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: space-between;
}

.textoPrincipal {
    display: flex;
    color: white;
}

.copyRight {
    display: flex;
    color: white;
    align-self: flex-end;
    margin-left: 0.5%;
    margin-bottom: 0.5%;
}

.contatoCPE {
    display: flex;
    flex-direction: column;
    margin-right: 0.5%;
}

.contatoInstagram {
    display: flex;
    margin-top: -8%;
    text-decoration: none;
    color: white;
}

.contatoInstagram:hover {
    color:orange;
}

.simboloIg {
    align-self: end;
}
