.baseInicio {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #142337;
}

.boxHeaderInicio {
    display: flex;
    flex-direction: row;
    height: 90px;
    width: 100%;
    background: #142337;
    align-items: center;
    justify-content: space-between;
    padding: 5px 30px;
}

.logoButterInicio {
    width: auto;
    height: 60px;
}

.botoesHeaderInicio  {
    display: flex;
    width: calc(100% - 330px);
    align-items: center;
    gap: 20px;
}

.iconesHeaderInicio {
    display: flex;
    width: 120px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.botaoHeaderInicio {
    font-size:24px;
    text-decoration: none;
    color: white;
}

.botaoHeaderInicio:hover {
    color: orange;
}


.acessoFilmes {
    font-size:xx-large;
    text-decoration: none;
    color: white;
}

.acessoFilmes:hover {
    color: orange;
}

.acessoCadastro {
    font-size:xx-large;
    text-decoration: none;
    color: white;
}

.acessoCadastro:hover {
    color: orange;
}

.acessoPerfil {
    font-size:xx-large;
    text-decoration: none;
    color: white;
}

.acessoPerfil:hover {
    color: orange;
}

.logOut {
    font-size:xx-large;
    text-decoration: none;
    color: white;
}

.logOut:hover {
    color: orange;
}

.paginaInicio {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.textosInicio {
    margin-top: 2%;
    height: 40%;
    width: 100%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    background-color: #142337;
    justify-content: center;
    align-items: center;
}

.tituloInicio {
    display: flex;
    text-align: start;
    color: white;
}

.texto1 {
    display: flex;
    align-items: flex-start;
    color: white;
    margin-left: 10%;
    text-align: justify;
    margin-bottom: 5%;
}

.texto2 {
    display: flex;
    align-items: flex-start;
    color: white;
    margin-left: 10%;
    text-align: justify;
}

.maisAssistidos {
    display:flex;
    width: 45%;
    flex-direction: column;
}

.tituloMaisAssistidos {
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
}
@media (max-width: 1400px) {
    .texto1{
        font-size: 24px;
    }
    .texto2{
        font-size: 24px;
    }
    .maisAssistidos {
        width: 90%;
        max-width: max-content;
    }
}
@media (max-width: 1024px) {
    .texto1{
        font-size: 18px;
    }
    .texto2{
        font-size: 18px;
    }
    .maisAssistidos {
        width: 90%;
        max-width: max-content;
    }
}
@media (max-width: 768px) {
    .texto1{
        font-size: 16px;
    }
    .texto2{
        font-size: 16px;
    }
    .paginaInicio {
        flex-direction: column;
    }
    .maisAssistidos {
        width: 90%;
        max-width: max-content;
    }
    .textoPrincipal{
        font-size: 10px;
    }
    .copyRight{
        font-size: 10px;
    }
    .contatoCPE{
        font-size: 10px;
        
    }
    .contatoInstagram{
        font-size: 10px;
    }
}
@media (max-width: 425px) {
    .texto1{
        font-size: 16px;
    }
    .texto2{
        font-size: 16px;
    }
    .paginaInicio {
        flex-direction: column;
    }
    .maisAssistidos {
        width: 90%;
        max-width: max-content;
    }
    .textoPrincipal{
        font-size: 6px;
    }
    .copyRight{
        font-size: 6px;
    }
    .contatoCPE{
        font-size: 6px;
    }
    .contatoInstagram{
        font-size: 6px;
    }
}
@media (max-width: 300px) {
    .texto1{
        font-size: 10px;
    }
    .texto2{
        font-size: 10px;
    }
    .paginaInicio {
        flex-direction: column;
    }
    .maisAssistidos {
        width: 90%;
        max-width: max-content;
    }
}
.boxMaisAssistidosWrapper {
    display: flex;
    width: 100%;
    height: 310px;
    flex-direction: row;
    align-content: space-between;
    overflow: auto;
}



.boxassistidos {
    display: flex;
    width: 200px;
    height: 300px;
    background: grey;
    margin-right: 20px;
}


.boxMA3 {
    display: flex;
    width: 200px;
    height: 300px;
    background: grey;
    margin-right: 20px;
    padding: 0px !important;
}

.boxFooterInicio {
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    height: 13%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: space-between;
}

.textoPrincipal {
    display: flex;
    color: white;
}

.copyRight {
    display: flex;
    color: white;
    align-self: flex-end;
    margin-left: 0.5%;
    margin-bottom: 0.5%;
}

.contatoCPE {
    display: flex;
    flex-direction: column;
    margin-right: 0.5%;
}

.contatoInstagram {
    display: flex;
    margin-top: -8%;
    text-decoration: none;
    color: white;
}

.contatoInstagram:hover {
    color:orange;
}

.simboloIg {
    align-self: end;
}